@charset "UTF-8";
/*  Global */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "微软雅黑";
  font-size: 14px;
  width: 100%;
  height: 100%;
  min-width: 1200px; }

body {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  color: #666666; }

*:before {
  clear: both; }

*:after {
  clear: both; }

.visible {
  visibility: hidden; }

.hidden {
  display: none; }

.opacity {
  opacity: 0; }

.left {
  float: left; }

.right {
  float: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.clearfix {
  clear: both; }

/*   Layout   */
.login {
  background-color: #6f3381;
  text-align: center; }
  .login .container {
    min-height: 500px;
    padding-bottom: 100px; }
    .login .container .login-form {
      padding-top: 200px;
      margin: auto;
      width: 365px; }
      .login .container .login-form header {
        font-size: 42px;
        color: #ffffff;
        padding-bottom: 45px; }
      .login .container .login-form section input[type=text], .login .container .login-form section input[type=password] {
        width: 315px; }
      .login .container .login-form section .account, .login .container .login-form section .pwd {
        background-position: 20px center;
        background-repeat: no-repeat; }
      .login .container .login-form section .account {
        background-image: url("../img/account.png"); }
      .login .container .login-form section .pwd {
        background-image: url("../img/pwd.png"); }
      .login .container .login-form section input[type=submit] {
        width: 365px;
        height: 50px;
        border: 1px solid #d066fd;
        color: #ffffff;
        font-size: 22px;
        background-image: -webkit-linear-gradient(to top, #9931c8, #a438ce);
        background-image: linear-gradient(to top, #9931c8, #a438ce);
        border-radius: 5px;
        font-family: "微软雅黑";
        cursor: pointer; }
      .login .container .login-form section .login-submit {
        clear: both;
        padding-top: 20px; }
      .login .container .login-form section .login-control {
        line-height: 30px; }
        .login .container .login-form section .login-control .checkboxinput label {
          top: 9px;
          left: 0;
          background-color: #ffffff; }
        .login .container .login-form section .login-control .checkboxinput label:after {
          border-color: #cf5fff; }

.header {
  height: 65px;
  background-color: #6f3381;
  text-align: center; }
  .header .datavenus {
    padding-top: 15px;
    padding-left: 15px; }
  .header .logo, .header .info {
    padding-right: 20px; }
  .header .logo {
    padding-top: 20px; }
  .header .info {
    line-height: 64px; }
    .header .info .info-list {
      list-style: none; }
      .header .info .info-list li {
        float: left;
        text-align: center; }
        .header .info .info-list li span {
          display: inline-block; }
        .header .info .info-list li .logout {
          width: 75px; }
        .header .info .info-list li .account {
          min-width: 150px;
          color: #ffffff; }
        .header .info .info-list li .line {
          width: 1px;
          height: 18px;
          border-left: 1px solid #b7b2b9;
          position: absolute;
          top: 23px; }

.left-nav {
  width: 190px;
  float: left;
  background-color: #6f3381;
  text-align: left;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  .left-nav ul li {
    line-height: 65px;
    border-top: 1px solid #8773b1;
    position: relative;
    color: #ffffff;
    cursor: pointer; }
    .left-nav ul li img {
      position: absolute;
      top: 22px; }
    .left-nav ul li span {
      padding-left: 30px; }
    .left-nav ul li a, .left-nav ul li a:hover, .left-nav ul li a:visited {
      padding-left: 40px;
      text-decoration: none;
      color: inherit;
      display: block; }
  .left-nav ul li:hover {
    color: #dd85ff;
    background-color: #4f1f5d; }
  .left-nav ul .on {
    background-color: #4f1f5d;
    color: #dd85ff; }

.main {
  min-height: 400px;
  margin-left: 190px; }
  .main .main-header {
    line-height: 65px;
    background-color: #dfcde7; }
    .main .main-header .main-header-title {
      font-size: 16px;
      color: #505050;
      margin-left: 20px;
      margin-right: 20px; }
  .main .main-body {
    padding: 20px; }
    .main .main-body .main-section {
      border: 1px solid #f9f9f9;
      background-color: #f9f9f9; }
      .main .main-body .main-section .main-section-header {
        padding-left: 40px;
        padding-right: 40px;
        line-height: 40px;
        font-size: 16px;
        color: #6f3381;
        background-color: #e9e9e9;
        position: relative; }
        .main .main-body .main-section .main-section-header img {
          position: absolute;
          top: 12px;
          left: 20px; }
      .main .main-body .main-section .main-section-body {
        padding-bottom: 40px; }

/*   Widget   */
.link {
  font-size: 12px;
  color: #cf5fff !important;
  text-decoration: underline; }

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none; }

.form {
  position: relative; }
  .form input {
    font-size: 13px !important;
    color: #999999;
    font-family: "微软雅黑";
    outline: none;
    border: 1px solid #c9c9c9;
    padding-left: 10px;
    height: 24px; }
  .form .error {
    text-align: left;
    color: #cf5fff;
    font-size: 12px; }
  .form a {
    padding-left: 5px;
    padding-right: 5px; }

.form-single input[type=text], .form-single input[type=password] {
  border: 0px;
  height: 50px;
  line-height: 50px;
  padding-left: 50px; }
.form-single .error {
  line-height: 40px; }

.form-submit {
  margin-top: 45px;
  margin-bottom: 45px; }
  .form-submit input {
    margin-left: 35px;
    margin-right: 35px; }

.form-group {
  margin-top: 30px;
  min-height: 24px;
  display: inline-block; }
  .form-group .form-title {
    float: left;
    line-height: 24px;
    text-align: right;
    width: 90px;
    padding-right: 10px; }
  .form-group .form-control {
    float: left; }
  .form-group .form-control-long {
    width: 360px; }
    .form-group .form-control-long input {
      width: 100%; }
    .form-group .form-control-long .datetime, .form-group .form-control-long .line {
      float: left; }
    .form-group .form-control-long .line {
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 5px; }

.form-top .form-title {
  padding-top: 10px;
  padding-bottom: 10px; }
.form-top .form-control {
  padding-right: 20px; }

.form-block {
  padding-top: 10px;
  padding-bottom: 10px; }

.btn {
  height: 24px;
  width: 98px;
  border-width: 0px;
  border-radius: 30px;
  color: #ffffff !important;
  cursor: pointer;
  outline: none; }

.btn:active {
  border-width: 1px; }

.btn-submit {
  background-color: #9f35cd; }

.btn-cancel {
  background-color: #938f95; }

.checkbox {
  float: left;
  padding-right: 30px;
  position: relative; }
  .checkbox input[type=checkbox] {
    display: none; }
  .checkbox .checkboxinput input[type=checkbox]:checked + label:after {
    opacity: 1; }

.checkbox-default .checkboxinput label {
  cursor: pointer;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: inherit;
  border: 1px solid #f3f3f3; }
.checkbox-default .checkboxlabel {
  display: block;
  color: #ffffff;
  padding-left: 30px; }
.checkbox-default .checkboxinput label:after {
  opacity: 0;
  content: ' ';
  position: absolute;
  width: 8px;
  height: 4px;
  background: transparent;
  top: 2px;
  left: 1px;
  border: 1px solid #ffffff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.select {
  position: relative;
  cursor: pointer;
  font-size: 13px;
  display: inline-block; }
  .select .root-select {
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: 95% center;
    cursor: pointer; }
  .select .sub-select {
    position: absolute;
    width: 100%;
    z-index: 1;
    border: 1px solid #c9c9c9;
    color: #999999; }
    .select .sub-select li {
      line-height: 24px;
      background-color: #ffffff; }
    .select .sub-select li:hover {
      background-color: #ededed; }

.table {
  width: 100%;
  background-color: #ffffff;
  color: #999999;
  border: 1px solid #ffffff;
  font-size: 12px; }
  .table tr {
    height: 30px;
    text-align: center; }
  .table tr:nth-child(2n) {
    background-color: #fafafa; }
  .table td {
    vertical-align: middle;
    border: 1px solid #ffffff;
    position: relative; }
  .table .td-operation {
    width: 130px; }
    .table .td-operation ul {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%; }
      .table .td-operation ul li {
        line-height: 20px; }
        .table .td-operation ul li .line {
          width: 1px;
          height: 18px;
          border-left: 1px solid #b7b2b9;
          position: absolute; }
        .table .td-operation ul li .link {
          padding-left: 10px;
          padding-right: 10px;
          display: inline-block;
          color: inherit !important;
          text-decoration: none !important; }
        .table .td-operation ul li .link:hover {
          color: #cf5fff !important;
          text-decoration: underline !important; }
  .table thead td {
    background-color: #ededed;
    color: #666666;
    height: 30px;
    font-size: 14px; }
  .table tbody tr:hover {
    background-color: #f3f3f3; }
  .table tfoot td {
    background-color: #ededed;
    height: 45px;
    line-height: 45px;
    font-size: 14px; }
    .table tfoot td a, .table tfoot td a:visited, .table tfoot td a:hover {
      text-decoration: none; }
    .table tfoot td a {
      padding: 0 3px; }
    .table tfoot td .link {
      padding: 0 10px; }
    .table tfoot td span {
      padding: 0 10px; }
    .table tfoot td .on, .table tfoot td .on:hover {
      text-decoration: underline; }

.k-state-default {
  height: 26px;
  width: 164px;
  border-radius: 0px !important; }

.k-state-default:active {
  background-color: none; }

.k-picker-wrap > .k-select {
  background-color: none;
  background: url("../img/carlendar.png");
  background-position: center center;
  background-repeat: no-repeat; }

.k-dropdown-wrap > .k-select {
  background-color: none;
  background: url("../img/arrow.png");
  background-position: center center;
  background-repeat: no-repeat; }

.k-state-focused.k-state-selected, .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
  -webkit-box-shadow: inset 0 0 3px 4px #6f3381 !important;
  box-shadow: inset 0 0 3px 4px #6f3381 !important; }

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
  background-color: #6f3381 !important;
  border-color: #6f3381 !important; }

.k-textbox, .k-autocomplete, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap {
  padding: 0 !important; }

.k-picker-wrap {
  border: 1px solid #c9c9c9; }

.k-dropdown-wrap:active {
  border-width: inherit !important; }

/*# sourceMappingURL=style.css.map */
