.visible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.opacity {
    opacity: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.clearfix {
    clear: both;
}